/*font*/
@font-face {
    font-family:space-grotesk;
    src: url('./font/SpaceGrotesk-VariableFont_wght.ttf');
}

body{
    font-family: space-grotesk;
}

/*butten styles*/
.btn{
    border-radius: 13px;
    padding: 13px 8px;
    font-weight: 500;
    height: 65px;
}

.simple-btn{
    border: 1px solid #191A23;
    background-color: #fff;
}

.green-btn{
    border:none;
    background-color: #B9FF66;
}

.dark-btn{
    border:none;
    background-color: #191A23;
    color: #fff;
}

/**/
.navbar-desktop{
    margin-top: 30px
}

.navbar-link-box{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.navbar-link{
    display: flex;
    justify-content: right;
}

.navbar-links{
    list-style-type: none;
    margin: 10px 15px;
    font-weight: 500;
}

/**/

.intro-box{
    margin: 30px 0px;
}

.compony-logos{
    display: flex;
    justify-content: space-between;
}

.title{
    background-color: #B9FF66;
    font-size: 40px;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

}

p{
    font-size: 18px;
    font-weight: 600;
}

.services-box{
    margin-top: 130px;
}

.servis-boxs{
    border: 1px solid #191A23;
    border-bottom: 4px solid #191A23;
    border-radius: 30px;
}