/*font*/
@font-face {
    font-family:space-grotesk;
    src: url('./font/SpaceGrotesk-VariableFont_wght.ttf');
}

body{
    font-family: space-grotesk;
}

/*butten styles*/
.btn{
    border-radius: 13px;
    padding: 13px 8px;
    font-weight: 100;
    height: auto;
    font-size: 14px;
}

.simple-btn{
    border: 1px solid #191A23;
    background-color: #fff;
}

.green-btn{
    border:none;
    background-color: #B9FF66;
}

.dark-btn{
    border:none;
    background-color: #191A23;
    color: #fff;
}

.navbar-desktop{
    margin-top: 30px
}

.navbar-link-box{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.navbar-link{
    display: flex;
    justify-content: right;
}

.navbar-links{
    list-style-type: none;
    margin: 10px 15px;
    font-weight: 500;
}

.intro-box{
    margin: 30px 0px;
}

.compony-logos{
    display: flex;
    justify-content: space-between;
}

.title{
    background-color: #B9FF66;
    font-size: 40px;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.title-div{
    margin-bottom: 50px;
}

.services-box{
    margin-top: 130px;
}

.servis-boxs{
    border: 1px solid #191A23;
    border-bottom: 5px solid #191A23;
    border-radius: 30px;
    height: 300px;
    margin: 15px;
    padding: 30px;
}

.services-imgs {
    position: relative; 
    padding: 135px;
}

.services-img{ 
    width: auto;
    height: auto;
    position: absolute; 
    top: 40%; 
    left: 40%; 
    transform: translate(-50%, -50%);
}

.services-texts{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.servis-boxs-dark{
    background-color: #191A23;
    color: #fff;
}

.servis-boxs-green{
    background-color: #B9FF66;
    color: #191A23;
}

.servis-boxs-gray{
    background-color: #F3F3F3;
    color: #191A23;
}

.servis-boxes-title{
    color: black;
    font-size: 23px;
    font-weight: 600;
    font-family:space-grotesk;
    margin: 0;
    padding: 5px 7px; 
    border-radius: 5px;
    width: auto; 
    display: inline-block;  
}

.connect-customer-box{
    background-color: #F3F3F3;
    border-radius: 30px;
    padding: 35px;
    z-index: 0;
    display: flex;
    max-height: 300px;
    font-size: 15px;
    margin-top: 150px;
}

.connect-customer-img{
    display: flex;
    float: right;
    z-index: 1;
    height: 400px;
    margin-top: -60px;
}

.connect-customer-text{
    top: 50;
    bottom: 50;
}