/*font*/
@font-face {
    font-family:space-grotesk;
    src: url('./font/SpaceGrotesk-VariableFont_wght.ttf');
}

/*butten styles*/
.btn{
    border-radius: 13px;
    padding: 13px 8px;
    font-weight: 500;
}

.simple-btn{
    border: 1px solid #191A23;
    background-color: #fff;
}

.green-btn{
    border:none;
    background-color: #B9FF66;
}

.dark-btn{
    border:none;
    background-color: #191A23;
    color: #fff;
}

/**/

.navbar-links{
    list-style-type: none;
}
