/*font*/
@font-face {
    font-family:space-grotesk;
    src: url('./font/SpaceGrotesk-VariableFont_wght.ttf');
}

body{
    font-family: space-grotesk;
}

hr{
    background-color: #191A23;
    border: none;
    height: 1px;
    opacity: .90;
}

p{
    font-size: 18px
}

/*butten styles*/
.btn{
    border-radius: 13px;
    padding: 13px 8px;
    font-weight: 100;
    height: auto;
    font-size: 14px;
}

.simple-btn{
    border: 1px solid #191A23;
    background-color: #fff;
}

.green-btn{
    border:none;
    background-color: #B9FF66;
}

.dark-btn{
    border:none;
    background-color: #191A23;
    color: #fff;
}

.circel-btn{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid #191A23;
}

.navbar-desktop{
    margin-top: 30px
}

.navbar-link-box{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.navbar-link{
    display: flex;
    justify-content: right;
}

.navbar-links{
    list-style-type: none;
    margin: 10px 15px;
    font-weight: 500;
}

.intro-box{
    margin: 30px 0px;
}

.compony-logos{
    display: flex;
    justify-content: space-between;
}

.title{
    background-color: #B9FF66;
    font-size: 40px;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.title-div{
    margin-bottom: 30px;
    font-size: 15px;
}

.services-box{
    margin-top: 130px;
}

.boxs{
    border: 1px solid #191A23;
    border-bottom: 5px solid #191A23;
    border-radius: 30px;
    margin: 15px;
    padding: 30px;
}

.services-imgs {
    position: relative; 
    padding: 135px;
}

.services-img{ 
    width: auto;
    height: auto;
    position: absolute; 
    top: 40%; 
    left: 40%; 
    transform: translate(-50%, -50%);
}

.services-texts{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.servis-boxs-dark{
    background-color: #191A23;
    color: #fff;
}

.boxs-green{
    background-color: #B9FF66;
    color: #191A23;
}

.boxs-gray{
    background-color: #F3F3F3;
    color: #191A23;
}

.servis-boxes-title{
    color: black;
    font-size: 23px;
    font-weight: 600;
    font-family:space-grotesk;
    margin: 0;
    padding: 5px 7px; 
    border-radius: 5px;
    width: auto; 
    display: inline-block;  
}

.connect-customer-box{
    border-radius: 30px;
    padding: 40px;
    z-index: 0;
    display: flex;
    max-height: 300px;
    font-size: 18px;
}

.connect-customer-box-gray{
    background-color: #F3F3F3;
    margin-top: 150px;
}

.connect-customer-box-dark{
    background-color: #191A23;
    color: #fff;
    margin-top: 100px;
}

.connect-customer-img{
    display: flex;
    float: right;
    z-index: 1;
    height: 400px;
    margin-top: -60px;
}

.connect-customer-text{
    top: 50;
    bottom: 50;
}

.column-divider{
    border-left: 2px solid #ddd;
    padding-left: 15px;
}

.case-studies-box{
    margin-top: 100px;
}

.link-green{
    text-decoration: none;
    color: #B9FF66;
}

.case-studies-text{
    padding: 40px;
    font-weight: 100;
}

.our-working-process-box{
    margin-top: 100px;
}

.consultation-section {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.step-number {
    font-size: 4rem;
    font-weight: bold;
    margin-right: 10px;
}

.step-title {
    font-size: 2rem;
}

.titele-box{
    padding: 35px;
}

/*Team box Styles*/
.team-box{
    margin-top: 100px;
}

.team-users{
    margin: 10px;
    height: fit-content;
}

.team-imgbox{
    display: flex;
    justify-content: space-around;
}

.team-imgbox-name{
    margin: auto;
    display: grid;
    align-items: end;
}